node_modules
**/node_modules
dist
build
web/dist
web/node_modules
server/node_modules
.vite
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.local
.env.*.local
.idea
.vscode
.parcel-cache
coverage
*.log
*.tgz
/.npm
/.pnp
/.pnp.js
/.pnp.cjs
.turbo
*.lock